.brands{
    border-bottom: .12rem solid #f5f5f5;
    background-color: #fff;
    width: 100%;
}
.brands .title{
    display: flex;
    justify-content: space-between;
    line-height: .3rem;
    padding: .54rem .42rem;
}
.brands .title h3{
    color: #000;
    font-size: .58rem;
    font-weight: bold;
    line-height: .58rem;
    margin-bottom: 0;
}
.brands .title p{
    font-size: .34rem;
    color: #ffb900;
    line-height: .58rem;
    margin-bottom: 0;
}
.brands .box{
    width: 100%;
    overflow: auto;
    padding: 0 0 .4rem .43rem;
}
.brands .box .con{
    display: flex;
}
.brands .box .con img{
    box-sizing: border-box;
    width: 3.7rem;
    padding-right: .28rem;
}
